<!DOCTYPE html>

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Blog - Print My Box</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="/assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN THEME STYLES -->
    <link href="/assets/base/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/base/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/assets/base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
    <link href="/assets/base/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    @Html.Action("_JsonLdPartial", "Home")
</head>
<body class="c-layout-header-fixed">
    <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
    <!-- BEGIN: HEADER -->
    <header class="c-layout-header c-layout-header-3 c-layout-header-default-mobile">
        <div class="c-navbar">
            <div class="container">
                <!-- BEGIN: BRAND -->
                <div class="c-navbar-wrapper clearfix">
                    <div class="c-brand c-pull-left">
                        <a href="/Home/Index" class="c-logo">
                            <img src="/assets/base/img/layout/logos/logo-3.png" alt="Print My Box" title="Print My Box" class="c-desktop-logo">
                            <img src="/assets/base/img/layout/logos/logo-3.png" alt="Print My Box" title="Print My Box" class="c-desktop-logo-inverse">
                            <img src="/assets/base/img/layout/logos/logo-1.png" alt="Print My Box" title="Print My Box" class="c-mobile-logo">
                        </a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                        <button class="c-search-toggler" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <!-- END: BRAND -->
                    <!-- BEGIN: QUICK SEARCH -->
                    <form class="c-quick-search" action="/Products/Search">
                        <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                        <span class="c-theme-link">&times;</span>
                    </form>
                    <!-- END: QUICK SEARCH -->
                    <!-- BEGIN: HOR NAV -->
                    <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- BEGIN: MEGA MENU -->
                    @Html.Partial("_MenuPart")
                    <!-- END: MEGA MENU -->
                    <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- END: HOR NAV -->
                </div>
            </div>
        </div>
    </header>


    <nav class="c-layout-quick-sidebar">
        <div class="c-header">
            <button type="button" class="c-link c-close">
                <i class="icon-login"></i>
            </button>
        </div>
        <div class="c-content">
            <div class="c-section">
                <h3>Theme Colors</h3>
                <div class="c-settings">
                    <span class="c-color c-default c-active" data-color="default"></span>

                </div>
            </div>

        </div>
    </nav>
    <!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
        <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold">Blog</h3>
                </div>
                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        /
                    </li>

                    <li class="c-state_active">
                        Blog
                    </li>
                </ul>
            </div>
        </div>
        <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: BLOG LISTING -->
        <div class="c-content-box c-size-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="c-content-blog-post-1-list">
                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/nail-polish.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/how_packaging_can_help_define_your_nail_polish_brand.html">How packaging can help define your nail polish brand?</a>
                                </div>
                                <div class="c-desc">
                                    <p>Nail Polishes come in every shade under the sun. Be it metallic, matt, glossy, or glittery, nail polishes have evolved to become a staple make-up product. High-end, luxury manicures costing hundreds of dollars are in vogue. Even the bottles in which the lacquer is placed are have become more varied and unique. So this leads us to the most important aspect of nail polish packaging, the box. </p>
                                    <p>Nail polish boxes are the first thing a potential customer sees, and in an industry which thrives on outside beauty the outside packaging is everything. Call it judging by the book by its cover, but it is the way customers select their choice of nail polish. It is the box that communicates whether the product inside is high-quality, or not. Customers associate the qualities of the nail polish boxes with that of the actual nail polish inside. And just like the increased variety of nail polishes now readily available, their boxes also now come several different shapes and forms.</p>

                                    <a href="https://printmybox.com/how_packaging_can_help_define_your_nail_polish_brand.html">read more...</a>
                                </div>

                            </div>

                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/perfume-box.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/perfume-boxes.html">Perfume Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Perfumes are the ultimate luxury item. A single bottle of a designer brand can set you back hundreds of dollars. The essence and the fragrance the liquid holds is highly sought after. It is an accessory which cannot be seen, but can only be sensed. With the increased demand for perfumes there has been a barrage of brands jumping on the bandwagon of creating the most pleasurable scent. Nearly every famous celebrity nowadays has a perfume or two out. Every designer brand has a range of perfumes. Given the impossible number of options available to customers it would not be wrong to conclude the simply creating an excellent scent is not enough. A customer may never get anywhere near to smell a good perfume simply due to the sheer number of alternatives available at each price level.</p>
                                    <p>What exactly can be done to resolve the problem? Marketing is everything, specifically the packaging. To convince a customer to pick your perfume and smell it the box for the perfume needs to be extremely attractive. Fully customized perfume boxes that loyally represent the brand and its values is essential. A box sends a message to the customer about the type of product it holds. A high-end luxury perfume will have a sleek and sophisticated box, a perfume for the more easy-going, funky crowd will accordingly have a funky and cheerful box.</p>

                                    <a href="https://printmybox.com/perfume-boxes.html">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/software-box.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/software-boxes.html">Software Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Software are what can rightly be regarded as the brains of the computer. It is an intangible yet necessary component of the computer systems without which nothing is possible. Want to make a report or a presentation, you need a software. Want to edit a photograph or play a game, again you need a software. Thus software is available for several applications. </p>
                                    <p>All sorts of software are readily available nowadays, ranging from the widely-used application software to the tailor-made software, which is especially made for large corporations. Even though it is an intangible product it is contained in a tangible format. Compact discs are generally used to store software which can be bought and used by anyone to access the said software. Compact discs are made of plastic and vulnerable to damage. If the surface of the disc is scratched the software becomes unusable as the computer is not able to read it from the disc. Protecting the disc containing the software is essential and while CDs come in plastic casing, even those are risky since dropping one can break the casing. </p>

                                    <a href="https://printmybox.com/software-boxes.html">read more...</a>
                                </div>

                            </div>

                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/game-box.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/game-boxes.html">Game Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Board games, card games, dice games, puzzles, strategy games, and even computer games. All come in various shapes and sizes, but they all have one thing in common; they all require boxes. Board games usually have many pieces from the actual board to the different accessories used to play the game. Games need to be contained in a box which is not just secure but functional as well. The box they come in becomes a storage device for the games since each box is custom-built to house the game inside. The dimensions of the boxes are customized according to the specific size of the game itself with the all its pieces taken into account. </p>
                                    <p>Aside for the customized dimensions another major edge provided by customized boxes is the facility of providing inserts, compartments, or smaller boxes to contain the different pieces separately. This not only helps keep everything in its proper place but also prevents losing pieces of the game which can be really small at times. </p>

                                    <a href="https://printmybox.com/game-boxes.html">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/lipstick.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/lipstick-boxes.html">Lipstick Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Lipstick in an essential part of any make-up look. So much so that any look is incomplete without a painted lip. Gone are the days when women use to apply a shade of pink or, for the bolder ones, red and called it a day. Over time this simple piece of cosmetic has undergone an evolution of sorts. Different colors, hues, shades, textures, finish, etc have meant that this simple cosmetic product has much more to it than meets the eye. The amount to choice available and the colors present runs in the thousands. It is an impossible list to cover. One can even say that lipsticks are becoming more and more customized to suit the tastes and preferences of an increasingly discerning customer base. Women take into consideration a number of things before choosing the shade they think is perfect for them. They test out lipsticks to see whether they go well with a particular skin tone or not, whether the color is ‘in’ or not, has a famous celebrity endorsed a specific shade, how well does the lipstick apply and how long does it last. Essentially buying a tube of lipstick is no child’s play. </p>

                                    <a href="https://printmybox.com/lipstick-boxes.html">read more...</a>
                                </div>

                            </div>

                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/chocolate-box.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/chocolate-boxes.html">Chocolate Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Chocolate. It is one of the most popular flavors in the world. It comes in different shapes and forms, from bars and snacks to the high-end creations. With chocolate the possibilities are unlimited. It is an expression of love, a gift, a promise, and even associated with festivals such as Easter and Hanukkah. It holds a significant position and has special meaning at certain occasions, like on Valentine’s Day giving or receiving chocolates is seen as a universal expression of love. It is an unspoken declaration, since actions speak louder than words.</p>
                                    <a href="https://printmybox.com/chocolate-boxes.html">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/bakery-box.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/bakery-boxes.html">Bakery Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Decedent desserts and colorful confections are the heart any party. Baked goods ranging from the sweet cupcakes, cakes, macaroons, pies to the savory pizzas, patties, croissants, etc. are the ultimate snack and comfort food. Eating on-the-go in today’s busy schedule has become the norm. And what better way to eat while on the move then to grab a baked goods which are non-greasy, do not drip and usually available in bite-sized portions. </p><a href="https://printmybox.com/bakery-boxes.html">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/cus-box.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/custom-display-boxes.html">Custom Display Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Custom display boxes are the best way to showcase your product and grab the attention of the customer. Medicine, candy, e-liquid, and absolutely anything and everything under the sun can be displayed prominently and clearly using a customized display box.</p>

                                    <a href="https://printmybox.com/custom-display-boxes.html">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/popcorn-boxes.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/popcorn-boxes.html">Popcorn Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Popcorn boxes have become increasingly popular among retailers. The minimalistic and clean design they offer means that they are extremely versatile and can be used for a number of different purposes. Aside from the obvious use of being used to contain popcorn, these boxes can be used from all kinds of foodstuffs and non-foodstuffs as well. </p>


                                    <a href="https://printmybox.com/popcorn-boxes.html">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/shoes-boxes.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/shoes-boxes.html">Shoe Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Shoe boxes are easily recognizable. They primarily come in two types of designs; the two-piece box, with a bottom and a lid, and a one-piece box with an attached lid. In both cases the boxes are shaped in a way to contain shoes and protect them against dust and daily wear and tear. Shoe boxes usually come in standard sizes for males, females, and children shoes, yet the trend towards more customizable shoe boxes has been on the rise.</p>

                                    <a href="https://printmybox.com/shoes-boxes">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/cosmetic-boxes.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/cosmetic-boxes.html">Cosmetic Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Cosmetics are one of the most versatile items, with products ranging from the slender lipstick bullets to the flat and wide eye shadow palettes. The types of products within this range are unlimited. In the recent years the trend has been not only towards developing new products but also developing new types of packaging to enhance the overall look of the product. </p>
                                    <a href="https://printmybox.com/cosmetic-boxes.html">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/eco-friendly-boxes.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/eco-friendly-boxes.html">Eco-friendly Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Being eco-friendly has become an integral part of any business’ strategy. In fact, many business use the idea as their main marketing tool. Needless to say, the increased evidence showing harm to the environment as a result of human activity as well as a global realization that time has come to make a change, has led many people to look for environmentally safe products. A product which does the job and is eco-friendly is definitely preferred. </p>

                                    <a href="https://printmybox.com/eco-friendly-boxes.html">read more...</a>
                                </div>

                            </div>


                            <div class="c-content-blog-post-1">
                                <div class="c-media">
                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                        <div class="owl-carousel owl-theme c-theme owl-single">
                                            <div class="item">
                                                <div class="c-content-media-2" style="background-image: url(/products/gift-boxes.jpg); min-height: 460px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-title c-font-bold c-font-uppercase">
                                    <a href="https://printmybox.com/gift-boxes.html">Gift Boxes</a>
                                </div>
                                <div class="c-desc">
                                    <p>Gift boxes are becoming more and more common as the trend to dress up the packaging for a gift is on the rise. Beautifully presented and packaged gifts are all the rage, especially in the age of social media. People want to share beautiful pictures on social media websites, the likes of Pinterest and Instagram. It is no longer the inside that matters but also the outside. </p>
                                    <a href="https://printmybox.com/gift-boxes.html">read more...</a>
                                </div>

                            </div>




                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="c-content-ver-nav">
                            <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                <h3 class="c-font-bold c-font-uppercase">Latest Posts</h3>
                                <div class="c-line-left c-theme-bg">
                                </div>
                            </div>
                            <ul class="c-menu c-arrow-dot c-theme">
                                <li><a href="https://printmybox.com/how_packaging_can_help_define_your_nail_polish_brand.html">How packaging can help define your nail polish brand?</a></li>
                                <li><a href="/Products/Details/2">Encasing the essence of a perfume</a></li>
                                <li><a href="/Products/Details/3">Designing the perfect box for softwares</a></li>
                                <li><a href="/Products/Details/4">Game Boxes: Their purpose and features</a></li>
                                <li><a href="/Products/Details/5">Matte or gloss, not just finishes for lipsticks</a></li>
                                <li><a href="/Products/Details/6">Perfecting the art of packaging chocolates</a></li>
                                <li><a href="/Products/Details/7">Why bakery goods need a sturdy box</a></li>
                                <li><a href="/Products/Details/8">Versatile nature of display boxes</a></li>
                                <li><a href="/Products/Details/9">Custom popcorn boxes: combining ease and affordability</a></li>
                                <li><a href="/Products/Details/10">Packaging shoes in the best way possible</a></li>

                            </ul>
                        </div>

                        <div class="c-content-ver-nav">
                            <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                <h3 class="c-font-bold c-font-uppercase">Categories</h3>
                                <div class="c-line-left c-theme-bg">
                                </div>
                            </div>
                            <ul class="c-menu c-arrow-dot c-theme">
                                <li>
                                    @Html.ActionLink("Cosmetic Packaging", "Category", "Products", new { category = "cosmetic-packaging" }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Display Packaging", "Category", "Products", new { category = "display-packaging" }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Eco Friendly Packaging", "Category", "Products", new { category = "Eco-Friendly-Packaging" }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Food and Beverage", "Category", "Products", new { category = "Food-and-Beverage" }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Gift Packaging", "Category", "Products", new { category = "Gift-packaging" }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Retail Packaging", "Category", "Products", new { category = "Retail-packaging" }, null)
                                </li>
                            </ul>
                        </div>



                        <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                    </div>

                </div>
            </div>
        </div>
        <!-- END: BLOG LISTING  -->
        <!-- END: PAGE CONTENT -->
    </div>
    <!-- END: PAGE CONTAINER -->
    <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-5 -->
    <a name="footer"></a>
    <footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
        <div class="c-prefooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="c-container c-first">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold c-font-white">Print My<span class="c-theme-font"> Box</span></h3>
                                <div class="c-line-left hide">
                                </div>
                                <p class="c-text">
                                    A great resource for Custom Printed Boxes, Custom Printed Box and Custom Boxes. Our Boxes are best in the market with fully customized design.
                                </p>
                            </div>
                            <ul class="c-links">
                                <li>
                                    <a href="/Home/Index">Home</a>
                                </li>
                                <li>
                                    <a href="/About">About Us</a>
                                </li>
                                <li>
                                    <a href="/Blogs">Blog</a>
                                </li>
                                <li>
                                    <a href="/Contact">Contact Us</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="c-container">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold c-font-white">Recommended business partners</h3>
                                <div class="c-line-left hide">
                                </div>
                            </div>
                            <div class="c-blog">
                                <ul class="c-links">
                                    <li><a href="http://www.cheapcustomfolders.com/" target="new">Cheap Custom Folders</a></li>
                                    <li><a href="http://www.customizedpocketfolders.com/" target="new">Customized Pocket Folders</a></li>
                                    <li><a href="http://www.bumperstickerswholesale.com/" target="_blank">Bumper Stickers Whole Sale</a></li>
                                    <li><a href="http://www.bumperstickercustom.com/" target="_blank">Bumper Sticker Custom</a></li>
                                    <li><a href="http://www.customboxpackaging.com/" target="_blank">Custom Box Packaging</a></li>
                                    <li><a href="http://www.onlineboxprinting.com/" target="_blank">Online Box Printing</a></li>

                                    <li><a href="http://www.printtshirtusa.com/" target="_blank">Print T-Shirt USA</a></li>
                                    <li><a href="http://www.varietystickers.com/" target="_blank">Variety Stickers</a></li>
                                    <li><a href="http://www.crmtosales.com/" target="_blank">CRM To Sales</a></li>
                                    <li><a href="http://www.livechatguru.com/" target="_blank">Live Chat Guru</a></li>
                                    <li><a href="http://www.ppcseopro.com/" target="_blank">PPC SEO Pro</a></li>
                                    <li><a href="http://www.premiersolinc.com/" target="_blank">Premier Sol Inc</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="c-container c-last">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold c-font-white">Find us</h3>
                                <div class="c-line-left hide">
                                </div>

                            </div>
                            <ul class="c-socials">
                                <li>
                                    <a href="https://www.facebook.com/PrintMyBoxCom" target="new"><i class="icon-social-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/printmyboxcom/" target="new"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/printmyboxcom" target="new"><i class="icon-social-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCP8o8UkQr7rToqw4Ee5ZwFQ/videos" target="new"><i class="icon-social-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/PrintMyBox/" target="new"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/printmybox/" target="new"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.flickr.com/photos/128471729@N04/" target="new"><i class="fa fa-flickr"></i></a>
                                </li>
                            </ul>
                            <ul class="c-address">
                                <li>
                                    <i class="icon-pointer c-theme-font"></i> 2252 Valencia Dr, Lexington, KY 40513
                                </li>
                                <li>
                                    <i class="icon-call-end c-theme-font"></i> 646-633-4663
                                </li>
                                <li>
                                    <i class="icon-envelope c-theme-font"></i> <a href="mailto:support@printmybox.com" style="color: #818e9a;">support@printmybox.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-container">
            <ul class="sticky">

                <li>
                    <a href="/PriceQuote"><img src="/img/price-q.jpg" width="32" height="200"></a>
                    <p><a href="/PriceQuote" target="_blank">Get Custom <br>Quote</a></p>
                </li>

            </ul>
        </div>
        <div class="c-postfooter">
            <div class="container">
                <p class="c-font-oswald c-font-14">
                    Copyright &copy; 2019 <span style="color: #fff;">Print My Box</span>. Powered By: <a href="http://www.premiersolinc.com/" style="color: #fff;">Premier Solutions Inc.</a>
                </p>
            </div>
        </div>
    </footer>
    </footer>
    <!-- END: LAYOUT/FOOTERS/FOOTER-5 -->
    <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
    <div class="c-layout-go2top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- END: LAYOUT/FOOTERS/GO2TOP -->
    <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
    <!-- BEGIN: CORE PLUGINS -->
    <!--[if lt IE 9]>
        <script src="../assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
    <script src="/assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- END: CORE PLUGINS -->
    <!-- BEGIN: LAYOUT PLUGINS -->
    <script src="/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <!-- END: LAYOUT PLUGINS -->
    <!-- BEGIN: THEME SCRIPTS -->
    <script src="/assets/base/js/components.js" type="text/javascript"></script>
    <script src="/assets/base/js/app.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            App.init(); // init core
        });
    </script>
    <!-- END: THEME SCRIPTS -->
    <!-- END: LAYOUT/BASE/BOTTOM -->
</body>
</html>