@model Practicing_OAuth.Models.Product
@{

    var RelatedCategoriesList = ViewBag.CategoriesList as IEnumerable<Practicing_OAuth.Models.Category>;
    var RelatedProductsList = ViewBag.ProductsList as IEnumerable<Practicing_OAuth.Models.Product>;
    var Reviews = ViewBag.Reviews as IEnumerable<Practicing_OAuth.Models.ProductsReview>;
}




<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@Model.Name</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="/assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN THEME STYLES -->
    <link href="/assets/base/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/base/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/assets/base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
    <link href="/assets/base/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    @Html.Action("_JsonLdPartial", "Home")
</head>
<body class="c-layout-header-fixed">
    <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
    <!-- BEGIN: HEADER -->
    <header class="c-layout-header c-layout-header-3 c-layout-header-default-mobile">
        <div class="c-navbar">
            <div class="container">
                <!-- BEGIN: BRAND -->
                <div class="c-navbar-wrapper clearfix">
                    <div class="c-brand c-pull-left">
                        <a href="/Home/Index" class="c-logo">
                            <img src="/assets/base/img/layout/logos/logo-3.png" alt="Print My Box" title="Print My Box" class="c-desktop-logo">
                            <img src="/assets/base/img/layout/logos/logo-3.png" alt="Print My Box" title="Print My Box" class="c-desktop-logo-inverse">
                            <img src="/assets/base/img/layout/logos/logo-1.png" alt="Print My Box" title="Print My Box" class="c-mobile-logo">
                        </a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                        <button class="c-search-toggler" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <!-- END: BRAND -->
                    <!-- BEGIN: QUICK SEARCH -->
                    <form class="c-quick-search" action="/Products/Search">
                        <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                        <span class="c-theme-link">&times;</span>
                    </form>
                    <!-- END: QUICK SEARCH -->
                    <!-- BEGIN: HOR NAV -->
                    <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- BEGIN: MEGA MENU -->
                    <!-- END: MEGA MENU -->
                    @Html.Partial("_MenuPart")
                    <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- END: HOR NAV -->
                </div>
            </div>
        </div>
    </header>


    <nav class="c-layout-quick-sidebar">
        <div class="c-header">
            <button type="button" class="c-link c-close">
                <i class="icon-login"></i>
            </button>
        </div>
        <div class="c-content">
            <div class="c-section">
                <h3>Theme Colors</h3>
                <div class="c-settings">
                    <span class="c-color c-default c-active" data-color="default"></span>

                </div>
            </div>

        </div>
    </nav>
    <!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
        <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold" id="Product-Name">@Model.Name</h3>
                </div>
                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                    <li>
                        <a href="/Products/productsByCategories/@Model.Category.CategoryType.Id">@Model.Category.CategoryType.CategoryType1</a>
                    </li>
                    <li>
                        /
                    </li>
                    <li class="c-state_active">
                        <a href="/Products/productsByCategories/@Model.Category.Id"> @Model.Category.CategoryName</a>
                    </li>
                    <li>
                        /
                    </li>
                    <li class="c-state_active">
                        <a href="/Products/Details/@Model.Id">@Model.Name</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: BLOG LISTING -->
        <div class="c-content-box c-size-md">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">


                        @foreach (var category in RelatedCategoriesList)
                        {
                            <div class="c-content-ver-nav">
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">Showcase Exhibition</h3>
                                    <div class="c-line-left c-theme-bg">
                                    </div>
                                </div>
                                <ul class="c-menu c-arrow-dot c-theme">
                                    @foreach (var product in RelatedProductsList.Where(s => s.CategoryId == category.Id))
                                    {
                                        <li><a href="/Products/Details/@product.Id">@product.Name</a></li>
                                    }
                                </ul>
                            </div>
                        }



                        <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                    </div>

                    <div class="col-md-9">
                        <div class="c-content-blog-post-card-1-grid">
                            <div class="row">
                                @if (Model.Image1 != null)
                                {
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">

                                                        <a href="~/UploadedProductImages/@Model.Image1" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="~/UploadedProductImages/@Model.Image1" alt="@Model.Name" title="@Model.Name">
                                            </div>

                                        </div>

                                    </div>
                                }
                                @if (Model.Image2 != null)
                                {
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">

                                                        <a href="~/UploadedProductImages/@Model.Image2" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="~/UploadedProductImages/@Model.Image2" alt="@Model.Name" title="@Model.Name">
                                            </div>

                                        </div>

                                    </div>
                                }
                                @if (Model.Image3 != null)
                                {
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">

                                                        <a href="~/UploadedProductImages/@Model.Image3" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="~/UploadedProductImages/@Model.Image3" alt="@Model.Name" title="@Model.Name">
                                            </div>

                                        </div>

                                    </div>
                                }
                                @if (Model.Image4 != null)
                                {
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">

                                                        <a href="~/UploadedProductImages/@Model.Image4" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="~/UploadedProductImages/@Model.Image4" alt="@Model.Name" title="@Model.Name">
                                            </div>

                                        </div>

                                    </div>
                                }
                                @if (Model.Image5 != null)
                                {
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">

                                                        <a href="~/UploadedProductImages/@Model.Image5" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="~/UploadedProductImages/@Model.Image5" alt="@Model.Name" title="@Model.Name">
                                            </div>

                                        </div>

                                    </div>
                                }






                                <div class="col-md-12 col-sm-12">
                                    <div class="c-content-tab-4 c-opt-3" role="tabpanel">
                                        <ul class="nav nav-justified" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#tab-31" role="tab" data-toggle="tab" class="c-font-15">Specifications</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#tab-32" role="tab" data-toggle="tab" class="c-font-15">Description</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#tab-33" role="tab" data-toggle="tab" class="c-font-15">Price Quote</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#tab-34" role="tab" data-toggle="tab" class="c-font-15">Reviews</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="tab-31">
                                                <ul class="c-tab-items">
                                                    <li class="row">
                                                        <div class="col-sm-1 col-xs-1">

                                                        </div>
                                                        <div class="col-sm-11 col-xs-11">
                                                            <h4 class="c-font-20">Specifications</h4>
                                                            <p class="c-font-15">


                                                                @Model.Specifications
                                                            </p>
                                                        </div>


                                                    </li>




                                                    <li class="row">
                                                        <div class="col-sm-1 col-xs-1">

                                                        </div>
                                                        <div class="col-sm-11 col-xs-11">
                                                            <h4 class="c-font-20">Great Reasons & Features</h4>
                                                            <p class="c-font-15">
                                                                <strong>Customization</strong>:
                                                                Accessible in any custom shapes and sizes to your items layout
                                                            </p>

                                                            <p class="c-font-15">
                                                                <strong>Design</strong> <i>(Product/Company Theme)</i>:
                                                                Create an extraordinary/unique design that showcase worth of your organization
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>Guarantee</strong>:
                                                                100% high quality Printing and Customer Satisfaction Guaranteed
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>Logo</strong> <i>(Product/Company Logo)</i>:
                                                                You ought to have your organization logo alongside special/unique product logo
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>Lamination</strong>:
                                                                Gloss or matte finish/lamination which make pass on cut bundling boxes more durable and sturdy
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>Printing</strong>:<br>
                                                                Full shade CMYK (Cyan, Magenta, Yellow and Key - Black) / PMS (Pantone Matching System) Printing Process<br>Brand your item with legitimate printing. We offer you best printing arrangements
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>Quality</strong>:
                                                                100lb/120lb Cover Card Stock &amp; Corrugated Stock or available Best Quality Stock 12pt / 14pt Card Stock
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>Shipping</strong>:<br>
                                                                Free Quick Shipping and Handling Within USA<br>Generation Turnaround regularly in 7 to 10 Days
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>Tagline</strong>:
                                                                Print an appealing slogan to stand out just enough to be noticed from your target clients
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>Template</strong>:
                                                                Adobe Illustrator, Adobe In Design, Adobe Photoshop, Quark Express
                                                            </p>
                                                            <p class="c-font-15">
                                                                <strong>UV Coating</strong>:
                                                                Discretionary UV Coating for additional Sparkle and Durability
                                                            </p>
                                                            <p class="c-font-15"><strong>We offer FREE transporting all over US, so <a href="/Home/Contact">CALL</a> / CHAT NOW and GET a <a href="/Home/PriceQuote">FREE QUOTE.</a></strong></p>
                                                        </div>
                                                    </li>


                                                </ul>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab-32">
                                                <ul class="c-tab-items">
                                                    <li class="row">
                                                        <div class="col-sm-1 col-xs-1">
                                                            
                                                        </div>
                                                        <div class="col-sm-11 col-xs-10">
                                                           @Html.Raw(Model.Product_Description)
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab-33">
                                                <ul class="c-tab-items">
                                                    <li class="row">
                                                        <div class="col-sm-1 col-xs-1">

                                                        </div>
                                                        <div class="col-sm-11 col-xs-10">
                                                            <h4 class="c-font-20">Price Quote</h4>
                                                            <form class="form-horizontal" method="post" action="/Home/QuoteRequest" enctype="multipart/form-data">
                                                                <div class="form-group">
                                                                    <label for="inputEmail3" class="col-md-4 control-label">Your Name</label>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control c-square c-theme" name="Name-input" placeholder="Your Name">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputEmail3" class="col-md-4 control-label">Email</label>
                                                                    <div class="col-md-6">
                                                                        <input type="email" class="form-control c-square c-theme" name="Email-input" placeholder="Email">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputEmail3" class="col-md-4 control-label">Phone</label>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control c-square c-theme" name="Phone-input" placeholder="Phone">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputPassword3" class="col-md-4 control-label">Select Stock</label>
                                                                    <div class="col-md-6">
                                                                        <select class="form-control c-square c-theme" name="Stock-input">
                                                                            <option value="STBR001" selected>Card -16 pt (0.016'')</option>
                                                                            <option value="STBR002">Card -18 pt (0.018'')</option>
                                                                            <option value="STBR003">Card - 24 pt (0.024'')</option>
                                                                            <option value="STBR004">Card- 12 pt (0.012'')</option>
                                                                            <option value="STBR005">Card -14 pt (0.014'')</option>
                                                                            <option value="STBR006">White Corrugated Card Stock</option>
                                                                            <option value="STBR007">Kraft Corrugated Card Stock</option>
                                                                            <option value="STBR008">Card -100Lb Cover Stock</option>
                                                                            <option value="STBR009">Card - 80Lb Cover Stock</option>
                                                                            <option value="STBR0010">Paper- 80Lb Glossy Text Stock</option>
                                                                            <option value="STBR0011">Paper- 100Lb Glossy Text Stock</option>
                                                                            <option value="STBR0012">Card - 120Lb Cover Stock</option>
                                                                            <option value="STBR0013">Highend - Sturdy Card Stock</option>
                                                                            <option value="STBR0014">Recycled Card Stock </option>
                                                                            <option value="STBR0015">Textured Card Stock</option>
                                                                            <option value="STBR0016">Linen Card Stock</option>


                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputPassword3" class="col-md-4 control-label">Select Color</label>
                                                                    <div class="col-md-6">
                                                                        <select class="form-control c-square c-theme" name="Color-input">
                                                                            <option value="full color" name="Color-input" selected>CMYK Full Color Printing</option>
                                                                            <option value="one color">One Color Printing</option>
                                                                            <option value="two color">Two Color Printing</option>
                                                                            <option value="three color">Three Color Printing</option>


                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputPassword3" class="col-md-4 control-label">Quantity</label>
                                                                    <div class="col-md-6">
                                                                        <select class="form-control c-square c-theme" name="Quantity-input">
                                                                            <option value="100" selected>100</option>
                                                                            <option value="200">200</option>
                                                                            <option value="250">250</option>
                                                                            <option value="500">500</option>
                                                                            <option value="1000">1000</option>
                                                                            <option value="2500">2500</option>
                                                                            <option value="5000">5000</option>
                                                                            <option value="10000">10000</option>



                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputEmail3" class="col-md-4 control-label">Dimension</label>
                                                                    <div class="col-md-2">
                                                                        <input type="number" class="form-control c-square c-theme" name="Height-input" placeholder="Height">
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <input type="number" class="form-control c-square c-theme" name="Width-input" placeholder="Width">
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <input type="number" class="form-control c-square c-theme" name="Depth-input" placeholder="Depth">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputEmail3" class="col-md-4 control-label">Choose File</label>
                                                                    <div class="col-md-6">
                                                                        <input type="file" name="File_input" id="File_input" />

                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputPassword3" class="col-md-4 control-label">Comments</label>
                                                                    <div class="col-md-6">
                                                                        <textarea class="form-control c-square c-theme" rows="3" name="Comments-input"></textarea>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group c-margin-t-40">
                                                                    <div class="col-sm-offset-4 col-md-8">
                                                                        <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                                                                        <button type="submit" class="btn btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab-34">
                                                <ul class="c-tab-items">
                                                    <li class="row">
                                                        <div class="col-sm-1 col-xs-1">

                                                        </div>
                                                        <div class="col-sm-11 col-xs-10">
                                                            <h4 class="c-font-20">Reviews</h4>
                                                            @foreach (var item in Reviews)
                                                            {
                                                                <div class="panel">
                                                                    <div class="panel-heading">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <b>Reviewer: </b>@item.ReviewerName
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                @for (int a = 0; a < item.Rating; a++)
                                                                                {
                                                                                    <span class="fa fa-star"></span>
                                                                                }
                                                                            </div>
                                                                            <div class="col-md-4" style="text-align:right">
                                                                                <b style="text-align:right">@item.CreatedAt</b> 
                                                                            </div>
                                                                        </div> 
                                                                    </div><hr />
                                                                    <div class="panel-body">
                                                                        <b>Review: </b>@item.Review
                                                                    </div>
                                                                </div>
                                                            }
                                                            <div class="panel">
                                                                <div class="panel-heading">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <b>Reviewer: </b>Stive
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        </div>
                                                                        <div class="col-md-4" style="text-align:right">
                                                                            <b style="text-align:right">6/28/2018 10:58:56 AM</b>
                                                                        </div>
                                                                    </div>
                                                                </div><hr />
                                                                <div class="panel-body">
                                                                    <b>Review: </b>We needed a large number of boxes for our line of foundations in weeks’ time and the people at www.printmbyox.com really delivered after our usual vendor failed to come through. The quality of the boxes was also superior and we have since switched to them for our regular order of boxes. Great job guys!
                                                                </div>
                                                            </div>

                                                            <br />
                                                            <hr />
                                                            <br />
                                                            <form action="/Products/SubmitReview" method="post" class="form-actions">
                                                                <div class="row">
                                                                    <div class="col-md-9">
                                                                        Name <input type="text" class="form-control col-md-6" id="ReviewerName" name="ReviewerName" required />
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        Rating: <input type="number" class="form-control col-md-6" min="0" max="5" id="Rating" name="Rating" required /><br />
                                                                    </div>
                                                                </div>
                                                                Review: <textarea class="form-control" id="Review" name="Review" required></textarea><br />
                                                                <input type="text" hidden value="@Model.Id" id="ProductId" name="ProductId" /><br />
                                                                <button type="submit" class="btn btn-default">Submit Review</button>
                                                            </form>
                                                            
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>



                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END: BLOG LISTING  -->
        <!-- END: PAGE CONTENT -->
    </div>
    <!-- END: PAGE CONTAINER -->
    <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-5 -->
    <a name="footer"></a>
    <footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
        <div class="c-prefooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="c-container c-first">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold c-font-white">Print My<span class="c-theme-font"> Box</span></h3>
                                <div class="c-line-left hide">
                                </div>
                                <p class="c-text">
                                    A great resource for Custom Printed Boxes, Custom Printed Box and Custom Boxes. Our Boxes are best in the market with fully customized design.
                                </p>
                            </div>
                            <ul class="c-links">
                                <li>
                                    <a href="/index">Home</a>
                                </li>
                                <li>
                                    <a href="/about-us">About Us</a>
                                </li>
                                <li>
                                    <a href="/cream-box.html">By Indsutries</a>
                                </li>
                                <li>
                                    <a href="/one-bottom.html">By Box Style</a>
                                </li>
                                <li>
                                    <a href="/blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="/terms.html">Terms</a>
                                </li>
                                <li>
                                    <a href="/Home/Contact">Contact Us</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="c-container">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold c-font-white">Recommended business partners</h3>
                                <div class="c-line-left hide">
                                </div>
                            </div>
                            <div class="c-blog">
                                <ul class="c-links">
                                    <li><a href="http://www.cheapcustomfolders.com/" target="new">Cheap Custom Folders</a></li>
                                    <li><a href="http://www.customizedpocketfolders.com/" target="new">Customized Pocket Folders</a></li>
                                    <li><a href="http://www.bumperstickerswholesale.com/" target="_blank">Bumper Stickers Whole Sale</a></li>
                                    <li><a href="http://www.bumperstickercustom.com/" target="_blank">Bumper Sticker Custom</a></li>
                                    <li><a href="http://www.customboxpackaging.com/" target="_blank">Custom Box Packaging</a></li>
                                    <li><a href="http://www.onlineboxprinting.com/" target="_blank">Online Box Printing</a></li>

                                    <li><a href="http://www.printtshirtusa.com/" target="_blank">Print T-Shirt USA</a></li>
                                    <li><a href="http://www.varietystickers.com/" target="_blank">Variety Stickers</a></li>
                                    <li><a href="http://www.crmtosales.com/" target="_blank">CRM To Sales</a></li>
                                    <li><a href="http://www.livechatguru.com/" target="_blank">Live Chat Guru</a></li>
                                    <li><a href="http://www.ppcseopro.com/" target="_blank">PPC SEO Pro</a></li>
                                    <li><a href="http://www.premiersolinc.com/" target="_blank">Premier Sol Inc</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="c-container c-last">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold c-font-white">Find us</h3>
                                <div class="c-line-left hide">
                                </div>

                            </div>
                            <ul class="c-socials">
                                <li>
                                    <a href="https://www.facebook.com/PrintMyBoxCom" target="new"><i class="icon-social-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-social-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-social-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-social-tumblr"></i></a>
                                </li>
                            </ul>
                            <ul class="c-address">
                                <li>
                                    <i class="icon-pointer c-theme-font"></i> 2252 Valencia Dr, Lexington, KY 40513
                                </li>
                                <li>
                                    <i class="icon-call-end c-theme-font"></i> 646-633-4664
                                </li>
                                <li>
                                    <i class="icon-envelope c-theme-font"></i> <a href="mailto:support@printmybox.com" style="color: #818e9a;">support@printmybox.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <img src="/img/fb.jpg" width="32" height="32">
                    <p><a href="https://www.facebook.com/PrintMyBoxCom/" target="_blank">Like Us on<br>Facebook</a></p>
                </li>
                <li>
                    <img src="/img/inst.jpg" width="32" height="32">
                    <p><a href="#" target="_blank">Follow Us on<br>Instagram</a></p>
                </li>
                <li>
                    <img src="/img/qu.jpg" width="32" height="32">
                    <p><a href="/Home/PriceQuote" target="_blank">Get Custom <br>Quote</a></p>
                </li>

            </ul>
        </div>
        <div class="c-postfooter">
            <div class="container">
                <p class="c-font-oswald c-font-14">
                    Copyright &copy; 2018 <span style="color: #fff;">Print My Box</span>. Powered By: <a href="http://www.premiersolinc.com/" style="color: #fff;">Premier Solutions Inc.</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- END: LAYOUT/FOOTERS/FOOTER-5 -->
    <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
    <div class="c-layout-go2top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- END: LAYOUT/FOOTERS/GO2TOP -->
    <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
    <!-- BEGIN: CORE PLUGINS -->
    <!--[if lt IE 9]>
        <script src="../assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
    <script src="/assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- END: CORE PLUGINS -->
    <!-- BEGIN: LAYOUT PLUGINS -->
    <script src="/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <!-- END: LAYOUT PLUGINS -->
    <!-- BEGIN: THEME SCRIPTS -->
    <script src="/assets/base/js/components.js" type="text/javascript"></script>
    <script src="/assets/base/js/app.js" type="text/javascript"></script>
    <script>
	$(document).ready(function() {
		App.init(); // init core
	});
    </script>
    <!-- END: THEME SCRIPTS -->
    <!-- END: LAYOUT/BASE/BOTTOM -->
    @*<script src="/LCSK/assets/js/bootstrap.min.js"></script>

    <script src="/LCSK/assets/js/jquery.timeago.js" type="text/javascript"></script>

    <script src="/LCSK/assets/js/jquery.signalR-2.1.1.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="/LCSK/install.js" type="text/javascript"></script>
    <script src="~/LCSK/chat.js"></script>*@
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b6a9033e21878736ba2ba15/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>