@model Practicing_OAuth.Models.PriceQuote

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Price Quote</h2>



<table class="table table-responsive table-striped table-bordered">
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.UserName)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.UserName)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Email)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.PhoneNumber)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.PhoneNumber)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Stock)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Stock)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Color)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Color)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Quantity)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Quantity)
        </td>
    </tr>
    <tr>
        <td>
            <b>Dimentions (Height x Width x Depth)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Height) x @Html.DisplayFor(model => model.Width) x @Html.DisplayFor(model => model.Depth)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Comments)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Comments)
        </td>
    </tr>
    <tr>
        <td>
            <b>Attachment</b>
        </td>
        <td>
            <a href="~/UploadedProductImages/@Model.File" target="_blank">@Model.File</a>
        </td>
    </tr>
    <tr>
        <td>
            <b>Sent</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.SubmittedTime)
        </td>
    </tr>
</table>
<p style="text-align:center">
        @*@Html.ActionLink("Back to List", "Index")*@
    <a href="/PriceQuotes/Index" class="btn btn-primary">Back to List</a>
    <a href="/PriceQuotes/TemporaryDelete/@Model.Id" class="btn btn-danger">Delete</a>
</p>
